label {
  cursor: pointer; }

body {
  background-color: whitesmoke; }

.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.off-canvas {
  height: 100%; }

.divOutlinerContainer {
  border: 1px solid gainsboro;
  min-height: 400px;
  overflow: auto;
  padding: 6px;
  background-color: white; }

#main_navigation .menu-icon::after {
  background: #999;
  box-shadow: 0 7px 0 #999, 0 14px 0 #999; }

#main_navigation .menu-icon:hover::after {
  background: #666;
  box-shadow: 0 7px 0 #666, 0 14px 0 #666; }

#recent_knowledeges {
  background: #111; }
  #recent_knowledeges > li {
    background-color: none; }
    #recent_knowledeges > li a {
      color: #eee;
      display: block;
      padding: 5px;
      transition: padding 0.25s ease-out, color 0.25s ease-out; }
    #recent_knowledeges > li span.label {
      margin-left: 10px; }
    #recent_knowledeges > li:hover {
      background-color: #000; }
      #recent_knowledeges > li:hover a {
        color: #fff;
        padding-left: 10px; }
      #recent_knowledeges > li:hover span.label {
        background-color: rgba(255, 174, 0, 0.9); }

.editor-toolbar {
  width: 40px;
  padding: 0; }
  .editor-toolbar ul a {
    color: #999; }
    .editor-toolbar ul a:hover {
      color: #777; }

/*.concord-level-1:first-child {
	border-bottom: 1px solid gainsboro;
	font-weight: bold;
	margin-left: -6px;
	margin-right: -6px;
	margin-top: -6px;
	padding: 6px;
	background: #000;
}*/
